
stock_sync/
# Python / Django
*.pyc
*~
__pycache__/

# Local Database
db.sqlite3
db.sqlite3-journal

# Environments
.env
.myvenv
myvenv/
venv/
ENV/
call aap/
# Django Media / Static Files (यूजर द्वारा अपलोड की गई फाइलें)
media/
# static/ (अगर आप डेवलपमेंट के दौरान स्टैटिक फाइल्स को इग्नोर करना चाहते हैं, 
# लेकिन आमतौर पर प्रोडक्शन के लिए कलेक्ट की गई फाइल्स को इग्नोर करते हैं जैसे staticfiles/)
staticfiles/

# Security / Secrets (आपके प्रोजेक्ट के सीक्रेट्स)
.env
**/.env
local_settings.py
secrets.json
credentials1.py

# IDEs / Editors (VS Code, PyCharm आदि की फाइलें)
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
Lot_Size.txt
# logs/stock_sync.log
mystock/fetch_access_token_auto.py
mystock/views1.py
templates/dashboard.html
templates/sr.html

db.sqlite3
.gitignore
clean_option_chain.csv

mystock/templates/trade_logic.py
mystock/templates/trade_logic1.py
mystock/templates/voice_commands.html
mystock/tests.py
Opchain.bat
db.sqlite3-shm
db.sqlite3-wal

start१२२३.sh
option_chain_data.csv
Opchain.zip
